.active-type {
    color: #01a504;
    border-bottom: solid 2px #01a504;
}

.button {
    width: 200px;
    height: 40px;
    background-color: rgb(0,200,6);
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 10pt;
    font-weight: bold;
}

.button:hover {
    background-color: #01a504;
}

.disabled {
    background-color: rgb(157, 157, 157);
}

.disabled:hover {
    background-color: rgb(157, 157, 157);
}

.buying-power-div {
    padding: 10px;
    font-size: 13px;
    color: grey
}

.chart-price {
    font-size: 32px;
    
}

.too-broke {
    position: fixed;
    top: 150px;
    right: 150px;
    height: 400px;
    width: 400px;
    font-size: 20px;
    font-family: 'Montserrat';
    
}

.topleft-individualprice-container {
    display: flex;
    flex-direction: column;
    justify-content:start
}

.key-stats-container {
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.key-stat-title-div {
    padding: 20px 0 20px  0;
    border-top: solid 1px #E3E9ED;
    border-bottom: solid 1px #E3E9ED;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 32.4px;
    font-style: normal;
    margin-top: 15px;
}



.order-selector {
    align-items: center;
    display: flex;
    
    justify-content: flex-start;
    border-bottom: solid 1px #E3E9ED;
}

.purchase-container {
    position: fixed;
    width: 270px;
    height: 470px;
    /* padding: 20px; */
    top: 100px;
    right: 150px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px -12px 24px 0px, rgba(0, 0, 0, 0.06) 0px 12px 24px 0px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px rgb(227, 233, 237);
    border-radius: 4px;
}

.purchase-buy-div {
    padding: 20px;
}

.left-order-type-div {
    padding: 10px;
    font-size: 13px;
    margin-left: 13px;
}

.right-order-type-div {
    padding: 10px;
    margin-right: 10px;
    font-size: 13px;
}



.left-buy-in--div {
    padding: 10px;
}

.left-est-div {
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 13px
}

.right-est-div {
    padding: 10px;
    text-align: right;
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;

}



.left-shares-div {
    padding: 10px;
    font-size: 14px;
    margin-left: 13px;
}

.right-shares-div {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-right: 5px;
}

.sell-div {
    padding: 20px;
}

.shares-available-div {
    padding: 10px;
    font-size: 10pt;
}

.shares-input {
    text-align: right;
    border: none;
    height: 27px;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
}
.shares-input::-webkit-inner-spin-button,
.shares-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.confirmation-title {
    font-weight: bold;
    font-size: 14px;
}

.shares-input:focus {
    border: 1px solid rgb(0,200,6);
    outline: none;
}

.stat-value-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.stat-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
}

.actual-stat {
    font-weight: bold;
}

.true-stat {
    font-size: 13px;
}

.stock-page-main-container {
    margin-left: 120px;
    margin-bottom: 80px;
    width: 750px;
}

.stock-timeline {
    border: none;
    background-color: white;
    font-size: 14px;
    font-weight: bold;

}

.individualstockpage-timeline {
    display: flex;
    gap: 8px;
}

.stock-timeline:hover {
    color: rgb(0,200,6);
}

.stat-value-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.stat-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stock-page-main-container {
    margin-left: 120px;
    width: 750px;
}

.stock-timeline {
    border: none;
    background-color: white;
    font-size: 14px;
}

.stock-timeline:hover {
    color: rgb(0,200,6);
}



.transaction-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

}

.watchlist-button {
    width: 200px;
    height: 40px;
    background-color: white;
    color: rgb(0,200,6);
    border-radius: 50px;
    border: 1px solid rgb(0,200,6);
    font-size: 10pt;
    font-weight: bold;
}

.watchlist-button:hover {
    background-color: rgb(173, 252, 176);
}


.news-stat-title-div {
    padding: 20px 0 20px  0;
    border-bottom: solid 1px #E3E9ED;
    font-size: 20pt;
}

.news-navlink {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}

.news-navlink:hover {
    background-color: rgb(234, 234, 234);
}

.individual-news-div {
    display: flex;
    justify-content: flex-start;
    font: 10px;
}

.transaction-title-div {
    padding: 20px 0 20px  0;
    border-bottom: solid 1px #E3E9ED;
    font-size: 20pt;
    margin-bottom: 15px;
    padding-top: 30px;
}

/* HIDDEN CONDITIONAL CLASS */

.hidden {
    display: none;
}
