.stock-page-main-container {
    margin-top: 100px;
    margin-left: 300px;
    width: 800px;
}

.key-stats-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.key-stat-title-div {
    padding: 20px 0 20px  0;
    border-bottom: solid black 1px;
    font-size: 20pt;
}

.stat-value-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.stat-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.purchase-container {
    position: fixed;
    width: 270px;
    height: 400px;
    /* padding: 20px; */
    top: 100px;
    right: 150px;
    /* background-color: rgba(232, 232, 232, 0.5); */
    box-shadow: 0px 0px 0px 10px  rgba(232, 232, 232, 0.2);


}

.purchase-buy-div {
    padding: 20px 10px;
    border-bottom: solid 1px rgb(150, 147, 147);
}

.left-order-type-div {
    padding: 10px;
}

.right-order-type-div {
    padding: 10px;
    text-align: end;
    margin-right: 5px;
}

.left-buy-in--div {
    padding: 10px;
}

.left-amount-div {
    padding: 10px;
}

.right-amount-div {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-right: 5px;
}

.amount-input {
    text-align: right;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;

}

.left-est-div {
    padding: 10px;
}

.right-est-div {
    padding: 10px;
    text-align: right;
    margin-right: 5px;
}

.transaction-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

}

.purchase-button {
    width: 200px;
    height: 40px;
    background-color: #00B403;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 10pt;
    font-weight: bold;
}

.purchase-button:hover {
    background-color: #01a504;
}

.buying-power-div {
    padding: 10px;
}

.news-stat-title-div {
    padding: 20px 0 20px  0;
    border-bottom: solid black 1px;
    font-size: 20pt;
}

.news-navlink {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}

.news-navlink:hover {
    background-color: rgb(234, 234, 234);
}

.individual-news-div {
    display: flex;
    justify-content: flex-start;
    font: 10px;
}
