.watchlist-button {
  width: 200px;
  height: 40px;
  background-color: white;
  color: rgb(0,200,6);
  border-radius: 50px;
  border: 1px solid rgb(0,200,6);
  font-size: 10pt;
  font-weight: bold;
}

.add-watchlist-modal-container {
  border: 1px solid red;
  height: 400px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.add-watchlist-modal-title-exit {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.add-watchlist-modal-lists {
  display: flex;
  flex-direction: column;
}

.watchlist-lists {
  padding: 20px;
  display: flex;
  align-items: center;
}

.input-div {
  margin-right: 25px;
}
