.watchlist-button {
  width: 200px;
  height: 40px;
  background-color: white;
  color: rgb(0,200,6);
  border-radius: 50px;
  border: 1px solid rgb(0,200,6);
  font-size: 10pt;
  font-weight: bold;
}

.add-watchlist-modal-container {
  height: 300px;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
}

.add-watchlist-modal-title-exit {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
}



.add-watchlist-modal-lists {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow-y: auto;
}

.watchlist-lists {
  padding: 20px;
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 30px;
  border: 1px solid rgb(0,200,6);
}

.add-watchlist-submit-button {
  width: 275px;
  height: 40px;
  margin: 10px;
  background-color: rgb(178, 187, 189);
  color: black;
  border-radius: 50px;
  border: none;
  font-size: 10pt;
  font-weight: bold;
}

.add-watchlist-submit-button.active {
  background-color: rgb(0,200,6);
}
