.history-container {
    
}

.name-container {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
}

.recent-container {
    font-size: 24px;
    font-family: sans-serif;
    margin-top: 30px;
}

.main-container {
    margin-left: 15%;
    margin-right: 25%;
}
