.home-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.homepage-navigationcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage-rightcontainer {
    display: flex;
    gap: 30px;
    
}

.home-nav {
    text-decoration: solid;
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}


.indexes-container {
    width: 1010px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

.chart-container {
    width: 1200px;
    height: 700px;
    background-color: white;
    text-decoration: none;
}

.price {
    font-size: 32px;
    font-family: "Montserrat";
    color: black;
    
}

.green-triangle {
    color: rgb(0, 200, 5);
    width: 12px;
    height: 12px;
}