* {
    font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
}

.break {
    border: none;
    border-top: 1px solid #E3E9ED;
}

.buying-power {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    font-weight: bold;
}

.chart-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
    max-height: 400px;
    height: 100%;
    text-decoration: none;
    width: 1200px;
    height: 100%
}

.green-triangle {
    color: rgb(0, 200, 5);
    width: 12px;
    height: 12px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 95%;
    width: 100%;
}

.homepage-navigationcontainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

.homepage-rightcontainer {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    max-width: 100%;
    width: 100%;
}

.home-nav {
    text-decoration: solid;
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.homepage-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
}

.home-nav:hover {
    color: rgb(0,200,6)
}

.indexes-container {
    align-items: center;
    background-color: #F5F8FA;
    border: 1px solid #E3E9ED;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    height: 70px;
    width: 100%;
}

.indexes {
    color: black;
    font-size: 15px;
}

.index-price {
    font-weight: 400;
    margin-left: 10px;
}

.portfolio-container {
    max-width: 1014px;
    min-width: 721px;
    width: 70%;
}

.price {
    font-size: 32px;
    font-family: Sans-Serif;
    color: black;
    font-weight: 400;
}

.profile-timeline {
    border-style: none;
    background-color: white;
    padding: 10px;
    color: black;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.profile-timeline:hover {
    color: rgb(0,200,6)
}


.leftside-container {
    height: 100%;
    width: 1000px;
}

.line-chart-container {
    height: 100%;
    max-width: 100%;
}

.news-card {
    height: 160px;
}

.news-image {
    height: 90px;
    width: 180px;
    position: relative;
    left: 800px;
    bottom: 80px;
    border-radius: 18px;
}

.news-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 15px;
}

.news-cardleft {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-content: center;
    max-width: 700px;
    justify-content: center;
    font-weight: bold;
}

.section-header {
    font-size: 24px;
    font-weight: 500;
}

.source {
    font-size: 13px;
    font-weight: 700;
}

.time-units {
    font-size: 13px;
    font-weight: 400;
}

.watchlist-container {
    display: flex;
    border: 1px solid #E3E9ED;
    border-radius: 3px;
    overflow-y: scroll;
    flex-direction: column;
    margin-left: 20px;
    max-width: 229px;
    min-width: 239px;
    margin: 36px 24px 24px 24px;
    height: 100%;
    width: 100%;
    /* Hide scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.watchlist-container::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;  /* Safari and Chrome */
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
    .homepage-container {
        justify-content: flex-start;
    }
}
